.font-btn-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-btn-nav-active {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Big Title */
.font-title-1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Featured Text */
.font-title-3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.font-date {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.font-img-author {
    font-size: 10px;
    font-weight: 500;
    line-height: 12.1px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-socials {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-post-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
    letter-spacing: -0.05em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-kodix-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-pro {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-pro-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-learn-more {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-form-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-form-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-forgot-password {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-dont-have-an-account {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-sign-up-msg {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.font-submit-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
